.counter {
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--accent);
	background: var(--accent-bg);
	border: 2px solid transparent;
	transition: border-color 0.3s;
	margin: auto;

	&:hover {
		border-color: var(--accent-border);
	}
	&:focus-visible {
		outline: 2px solid var(--accent);
		outline-offset: 2px;
	}
}

.container {
	padding: 8rem 1rem 0;
	color: antiquewhite;
	font-family: 'Times New Roman', Times, serif;
	background: linear-gradient(135deg, #c084fc26, #c084fc80);
	min-height: 90dvh;
}
.title {
	margin: 1rem auto;
	padding: 3rem;
	border-radius: 1rem 0;

	background: #00000026;
	/* box-shadow: 0 0 5px #6a4cff; */
	width: fit-content;
	font-size: clamp(2rem, 6vw, 3rem);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	text-align: center;
	color: var(--accent);
	box-shadow:
		0 0 5px #9dff00,
		0 0 20px #6a4cff,
		0 0 30px #6a4cff;

	text-shadow:
		0 0 5px #6a4cff,
		0 0 10px #6a4cff,
		0 0 20px #6a4cff;
	animation: pulse 2s infinite;

	@media (max-width: 720px) {
		padding: 1rem;
	}
}
@keyframes pulse {
	0% {
		text-shadow: 0 0 5px #6a4cff;
	}
	50% {
		text-shadow: 0 0 20px #6a4cff;
	}
	100% {
		text-shadow: 0 0 5px #6a4cff;
	}
}

button {
	background: #00000026;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 700;
	padding: 0.5rem 1rem 0.5rem 1.3rem;
	border-radius: 1rem 0;
	color: var(--accent);
	background: #00000026;
	border: 2px solid transparent;
	transition: border-color 0.3s;
	margin: 1rem auto;
	animation: pulsebutton 2s infinite;

	&:hover {
		border-color: var(--accent-border);
	}
	&:focus-visible {
		outline: 2px solid var(--accent);
		outline-offset: 2px;
	}
}
@keyframes pulsebutton {
	0% {
		box-shadow: 0 0 5px #6a4cff;
	}
	50% {
		box-shadow: 0 0 20px #6a4cff;
	}
	100% {
		box-shadow: 0 0 5px #6a4cff;
	}
}
.mensaje {
	padding: 2rem;
	max-width: 500px;
	margin: 0 auto;

	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
